
@media (min-width: 640px) {
.container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
.container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
.container {
    max-width: 1024px;
  }
.lg\:w-auto {
    width: auto;
  }
.lg\:static {
    position: static;
  }
.lg\:block {
    display: block;
  }
.lg\:justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
.lg\:hidden {
    display: none;
  }
.lg\:flex {
    display: -webkit-box;
    display: flex;
  }
.lg\:bg-transparent {
    background-color: transparent;
  }
.lg\:shadow-none {
    box-shadow: none;
  }
.lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
.lg\:text-white {
    color: #fff;
  }
.lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
.lg\:text-gray-300 {
    color: #e2e8f0;
  }
.lg\:ml-auto {
    margin-left: auto;
  }
.lg\:mr-1 {
    margin-right: 0.25rem;
  }
.lg\:mb-0 {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
.container {
    max-width: 1280px;
  }
}