.top-0 {
  top: 0;
}

.z-50 {
  z-index: 50;
}

.w-full {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  -webkit-box-align: center;
          align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.bg-black {
  background-color: #000;
}

.container {
  width: 100%;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.text-sm {
  font-size: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

.leading-relaxed {
  line-height: 1.625;
}

.inline-block {
  display: inline-block;
}

.mr-4 {
  margin-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.text-xl {
  font-size: 1.25rem;
}

.leading-none {
  line-height: 1;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-transparent {
  border-color: transparent;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-transparent {
  background-color: transparent;
}

.block {
  display: block;
}

.outline-none {
  outline: 0;
}

.flex-grow {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.bg-white {
  background-color: #fff;
}

.hidden {
  display: none;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.list-none {
  list-style-type: none;
}

.mr-auto {
  margin-right: auto;
}

.text-gray-800 {
  color: #2d3748;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-500 {
  color: #a0aec0;
}

.text-lg {
  font-size: 1.125rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.ml-3 {
  margin-left: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

