a {
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button,
input { /* 1 */
  overflow: visible;
}

button { /* 1 */
  text-transform: none;
}
button {
  background: transparent;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
[role="button"] {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}