.fa,.fas,.far,.fal,.fad,.fab{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}

.fa,.fas{font-family:'Font Awesome 5 Free';font-weight:900}

.fa-bars:before{content:""}

.far{font-family:'Font Awesome 5 Free';font-weight:400}

.fa-file-alt:before{content:""}

.fab{font-family:'Font Awesome 5 Brands'}

.fa-facebook:before{content:""}

.fa-twitter:before{content:""}

.fa-github:before{content:""}

@font-face { font-family: "Font Awesome 5 Brands"; font-style: normal; font-weight: normal; font-display: auto; src: url("webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("webfonts/fa-brands-400.woff2") format("woff2"), url("webfonts/fa-brands-400.woff") format("woff"), url("webfonts/fa-brands-400.ttf") format("truetype"), url("webfonts/fa-brands-400.svg#fontawesome") format("svg") }

@font-face { font-family: "Font Awesome 5 Free"; font-style: normal; font-weight: 400; font-display: auto; src: url("webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("webfonts/fa-regular-400.woff2") format("woff2"), url("webfonts/fa-regular-400.woff") format("woff"), url("webfonts/fa-regular-400.ttf") format("truetype"), url("webfonts/fa-regular-400.svg#fontawesome") format("svg") }

@font-face { font-family: "Font Awesome 5 Free"; font-style: normal; font-weight: 900; font-display: auto; src: url("webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.woff") format("woff"), url("webfonts/fa-solid-900.ttf") format("truetype"), url("webfonts/fa-solid-900.svg#fontawesome") format("svg") }

a {
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button,
input { /* 1 */
  overflow: visible;
}

button { /* 1 */
  text-transform: none;
}
button {
  background: transparent;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button,
[role="button"] {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

.top-0 {
  top: 0;
}

.z-50 {
  z-index: 50;
}

.w-full {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  -webkit-box-align: center;
          align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.bg-black {
  background-color: #000;
}

.container {
  width: 100%;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.text-sm {
  font-size: 0.875rem;
}

.font-bold {
  font-weight: 700;
}

.leading-relaxed {
  line-height: 1.625;
}

.inline-block {
  display: inline-block;
}

.mr-4 {
  margin-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.text-xl {
  font-size: 1.25rem;
}

.leading-none {
  line-height: 1;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-transparent {
  border-color: transparent;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-transparent {
  background-color: transparent;
}

.block {
  display: block;
}

.outline-none {
  outline: 0;
}

.flex-grow {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.bg-white {
  background-color: #fff;
}

.hidden {
  display: none;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.list-none {
  list-style-type: none;
}

.mr-auto {
  margin-right: auto;
}

.text-gray-800 {
  color: #2d3748;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-gray-500 {
  color: #a0aec0;
}

.text-lg {
  font-size: 1.125rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.ml-3 {
  margin-left: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}




@media (min-width: 640px) {
.container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
.container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
.container {
    max-width: 1024px;
  }
.lg\:w-auto {
    width: auto;
  }
.lg\:static {
    position: static;
  }
.lg\:block {
    display: block;
  }
.lg\:justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
.lg\:hidden {
    display: none;
  }
.lg\:flex {
    display: -webkit-box;
    display: flex;
  }
.lg\:bg-transparent {
    background-color: transparent;
  }
.lg\:shadow-none {
    box-shadow: none;
  }
.lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
.lg\:text-white {
    color: #fff;
  }
.lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
.lg\:text-gray-300 {
    color: #e2e8f0;
  }
.lg\:ml-auto {
    margin-left: auto;
  }
.lg\:mr-1 {
    margin-right: 0.25rem;
  }
.lg\:mb-0 {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
.container {
    max-width: 1280px;
  }
}

